<!DOCTYPE HTML>

    <body>
        <div class="christina" id="christina">
        <div class="navbarContainer" id="navbarContainer">
            <li><a class="active" href="/" id="Home">Home</a></li>
            <li><a href="christina.ejs" id="christina">Shazam</a></li>
            <li><a href="nicole.ejs" id="nicole">Spotify</a>
            <li><a href="john.ejs" id="john">Itunes</a></li>   
            <li><a href="zach.ejs" id="zach">Youtube</a></li>   
        </div>
        <h1 class="Headers" id="shazam-header">Shazam API </h1>
      
        <h1>Shazaam</h1>
        <p></p>
   
        <!-- <div class="grid-container">
            <div class="grid-item" >
                <form action="">
                    <div class="search-shazaam">
                        <label for="">Search For An Artist To Get Their Info</label>
                        <input type="text" placeholder="search for music" id="search-input-shazaam">
                    </div>
                    <div class="button">
                        <button id="search-shazaam">search</button>
                    </div>

                    <div class="display-music-shazaam"></div>
                    <div class="data-holder-shazaam" id="data-holder-shazaam" style="background-color: pink;">Data
                        <p id="data-holder-shazaam"></p>
                    </div>
                </form>
            </div>
        </div> -->
            
        <h1>Itunes Data</h1>
        <h1>Spotify</h1>

        <p>Zach Output.</p>
        <ul>
            <% for(var i = 0; i < results.length; i++) {%>
                
                <li>
                    
                    <span><%= results[i].songs.artist %></span>
                    <span><%= results[i].songs.track %></span>
                    
                    
                </li>
            <%} %>
        </ul>


    </body>
    <footer>
        <p>Christina Zimmer<br>
            <a href="mailto:zimmer64students.rowan.edu">zimmer64@students.com</a></p>
        <p>Nicole Amoah<br>
            <a href="mailto:amoahn86@students.rowan.edu">amoahn86@students.rowan.edu</a></p>
        <p>John Doyle<br>
             <a href="mailto:doylej82@students.rowan.edu">doylej82@students.rowan.edu</a></p>
        <p>Zachary Nealis<br>
             <a href="mailto:nealisz9@students.rowan.edu">nealisz9@students.rowan.edu</a></p>
   </footer>
   </div>
</HTML>