<!DOCTYPE HTML>

    <body>
        <div class="navbarContainer" id="navbarContainer">
            <li><a class="active" href="/" id="Home">Home</a></li>
            <li><a href="christina.ejs" id="christina">Shazam</a></li>
            <li><a href="nicole.ejs" id="nicole">Spotify</a>
            <li><a href="john.ejs" id="john">Itunes</a></li>   
            <li><a href="zach.ejs" id="zach">Youtube</a></li>   
        </div>
        
        
        <h1 class="Headers" id="adb-header">ADB API </h1>
      
        <p></p>
   
     
    </body>
    <footer>
        <p>Christina Zimmer<br>
            <a href="mailto:zimmer64students.rowan.edu">zimmer64@students.com</a></p>
        <p>Nicole Amoah<br>
            <a href="mailto:amoahn86@students.rowan.edu">amoahn86@students.rowan.edu</a></p>
        <p>John Doyle<br>
             <a href="mailto:doylej82@students.rowan.edu">doylej82@students.rowan.edu</a></p>
        <p>Zachary Nealis<br>
             <a href="mailto:nealisz9@students.rowan.edu">nealisz9@students.rowan.edu</a></p>
   </footer>
</div>
</HTML>